*.iml
.idea/
.project
.settings/
.classpath
.DS_Store
.class
target/
lib/
static/
/web/src/main/resources/templates/
metastore_db
*.log
.evosuite
git.properties
*.versionsBackup
*.zip
dependency_tree.txt
